language: go

go:
    - 1.8
    - master

before_install:
  - go get -t -v ./...

script:
    - go test -race -v -bench=. -coverprofile=coverage.txt -covermode=atomic ./...

after_success:
  - bash <(curl -s https://codecov.io/bash)